html {
    font-size:16px;
}

body {
    height: 100%;
    width: 100%;
    background-image:url(bg.svg);
    font-family: 'Roboto Mono', monospace;
    color: #ffffff;
    line-height:1.6;
    margin: 0;
    padding: 0;
}

header {
    height: 112px;
    background-color: #53bc4a;
}

.header-content {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.header-logo {  
    display: inline-block;
    position: relative;
    width: 70%;
    height: 112px;
    max-width: 423px;
    margin-left: 5%;
    z-index: 1;
}

.header-logo span {
    display: inline-block;
    height: 100%;
}

#logo {
    /* width: 100%; */
    width: 70%;
    height: 112px;
    max-width: 423px;
    /* position: relative; */
    /* z-index: -1; */
    margin-left: 5%;
}

.links {
    margin-left: auto;
    margin-right: 5%;
}

.links li {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    list-style-type: none;
    vertical-align: top;
    padding: 0.75rem;
}

.menu-link {
    color: #ffffff;
    text-decoration: none;
}

.menu-link:hover {
    color: rgb(234, 234, 22);
}

.top-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    width: 90%;
    margin: 1.5rem auto 0 auto;
    overflow: hidden;
}

.top-container img {
    width: 50%;
    max-width: 532.48px;
    transform: translateY(15%);
    margin: auto 1.5rem auto 1.5rem;
}

button {
    font-family: 'Roboto Mono', monospace;
    background:#5764f1 url("Discord-Logo-White.png") no-repeat center left 0.75rem;
    background-size: auto 3.5rem;
    color: #ffffff;
    font-size: 1rem;
    background-color: #5764f1;
    border:none;
    border-radius: 5px;
    margin: auto 1.5rem auto 1.5rem;
    line-height: 3.5rem;
    padding: 0 0.75rem 0 4.5rem;
    box-shadow: #434ec5 0px 7px 5px -6px;
}

.centered-text {
    display: block;
    width: 90%;
    padding: 0.75rem;
    margin: 0 auto 2rem auto;
    background-color: #53bc4a;
    text-align: center;
    box-shadow: #33852b 0px 7px 5px -6px;
}

.centered-text img {
    display: block;
    margin: 0.75rem auto 0.75rem auto;
}

#splash_img_1 {
    width: 80%;
    max-width: 991px;
}

#splash_img_2 {
    width: 60%;
    max-width: 743px;
}

.is-hidden {
    display: none;
}

@media screen and (max-width:768px){
    .links {
        display: none;
    }
}

@media screen and (min-width:768px){
    html {
        font-size:16px;
    }
}

@media screen and (min-width:1200px){
    html {
        font-size:18px;
    }
}

@media screen and (min-width:1600px){
    html {
        font-size:20px;
    }
}
